CompileFlags:
  CompilationDatabase: None
  Add:
    - -std=c++20
    - -I.
    - -I..
    - -I../../../third_party/slang/include
    - -I../../../third_party/slang/external
    - -I../../../target/slang-sys/clangd/include
    - -I../../../../third_party/slang/include
    - -I../../../../third_party/slang/external
    - -I../../../../target/slang-sys/clangd/include
    - -include
    - cstdlib
    - -DSLANG_BOOST_SINGLE_HEADER
    - -DSLANG_STATIC_DEFINE
